name: precommit

on: [push]
jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - run: |
          git fetch --no-tags --prune --unshallow
      - uses: actions/setup-python@v2
      - uses: travisgroth/action@release
        with:
          changed: true
          base: ${{ github.event.pull_request.head.sha }}
